language: go
go:
  - "1.2.1"

# Set it up
install:
  - curl -O https://storage.googleapis.com/appengine-sdks/featured/go_appengine_sdk_linux_amd64-1.9.8.zip && unzip -q go_appengine_sdk_linux_amd64-1.9.8.zip
  - mv configuration.go_example configuration.go
  - mv app.yaml_example app.yaml

# run build
script: ./go_appengine/goapp build
